html,
body {
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {

}

 #mapid {
    width: 100%;
    height: 600px;
    margin: auto;
 }

 .leaflet-marker-icon {

    /*visibility: hidden;*/
 }

 #fields {
     padding-top: 20px;
     width:50%;
     margin:auto;
 }